* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Exo 2', sans-serif;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
}

body {
    height: 100vh;

}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;

}

.img-button {
    height: 250px;
    width: 200px;
    border-radius: 10px;
    background-color: transparent;
    display: flex;
    justify-content: space-around;
    padding-left: 30px;
    padding-right: 30px;
    border: none;
    outline: none;
    transition: .1s;
}

.img-button:hover {
    outline: white solid 3px;
}

.project-image {
    height: 250px;
    width: 200px;
    border-radius: 10px;

}

#code-span {
    transition: .2s;

}

#url-span {
    transition: .2s;

}

#code-span:hover {
    color: black;
}

#url-span:hover {
    color: black;
}

.upper-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin-bottom: -50px;

}

h1 {
    color: white;
}

#resume-box {
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 450px;
    width: 100%;
}

#upper-box-background {
    width: 100%;
    height: 100%;
}

.resume-info {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    width: 100%;

}

#resume-view, #resume-download {
    font-size: 12px;
    font-weight: bold;
    color: #3f244f;
    background-color: whitesmoke;
    padding: 5px;

}

.inner-boxes {
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient( 200deg,#3f244f, black);
    height: 375px;
    width: 700px;
    margin-bottom: 5px;
    flex-direction: column;
    border: 2px solid linear-gradient();

}

.image-code {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-left: 30px;
    padding-right: 30px;

}

.portfolio-link {
    position: absolute;
    color: white;
    top: 85%;
    font-size: 15px;
}

footer {
    background-color: pink;
    height: 175px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.footer-left, .footer-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: red;
    width: 45%;
    height: 100%;
    padding-top:  10px;
}

.footer-left {

}

.input-name {
    display: flex;
    width: 100%;
}

.input-name-full {
    display: flex;
    padding-left: 10px;
    width: 50%;
    outline: none;
    border: none;
    border: 1px solid grey;
    border-radius: 3px;
    padding: 2px;
    
}

.input-message {
    width: 100%;
    height: 100%;
    border-radius: 3px;
    outline: none;
    border: 1px solid grey;
    padding: 2px;
    padding-left: 5px;
}

#submit {
    color: white;
    font-size: 12px;
    background-color: #3f244f;
    border-radius: 3px;
    transition: .1s;
    border: none;
    outline: none;
}

#submit:hover {
    background-color: hsla(172, 67%, 45%, 1);
    cursor: pointer;
}

.footer-right {
    align-items: flex-end;
}

.socials-div {
    display: flex;
    justify-content: flex-start;
    width: 145px;
    align-items: flex-end;
}

.socials {
    width: 25px;
}

@media (max-width: 1024px) {

}

@media (max-width: 768px) {

}

@media (max-width: 768px) {

}

@media (max-width: 425px) {
    .inner-boxes {
        margin: 0;
        width: 375px;
    }
}

/* TEST */

.modal-container {
    opacity: 0;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    background-color: rgba(0, 0, 0, .4);
    height: 100vh;
    width: 100vw;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

}



.modal-container.show {
    pointer-events: auto;
    opacity: 1;

}

.scrollable-modal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    background-color: whitesmoke;
    padding-bottom: 50px;
    width: 475px;
    height: 75vh;
    box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.768);
    overflow-y: scroll;
    overflow-x: visible;

}

.modal-close-button {
    top: 0;
    right: 0;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: transparent;

}
