* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Exo 2', sans-serif;
    font-family: 'Open Sans', sans-serif;
    
}

body {
    height: 100vh;

}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;

}

#resume-box, #about-box{
    height: 200px;
    height: 450px;
    width: 50%;

}

#about-box {
    background-color: #580f40d3;
}

#resume-box {
    background-color: #4d0a74d7;
}

.upper-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    
    margin-bottom: -25px;
}

.inner-boxes {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3f244f;
    height: 350px;
    width: 700px;
    margin-bottom: 5px;
    flex-direction: column;
    

}


.portfolio-link {
    position: absolute;
    color: white;
    bottom: 15%;
}

@media (max-width: 1024px) {

}

@media (max-width: 768px) {

}

@media (max-width: 768px) {

}

@media (max-width: 425px) {
    .inner-boxes {
        margin: 0;
        width: 375px;
    }
}
