* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Exo 2', sans-serif, 'Open Sans';
    text-transform: uppercase;
    text-decoration: none;
}

main {
    min-height: 100vh;
    background: whitesmoke;
    position: relative;
    z-index: 1;
    padding: .4rem;
  }

body {
    min-height: 100vh;

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    min-width: 100vw;

}

ul {
    
    list-style: none;
}

.nav-right ul {
    display: flex;
    flex-direction: row;
}

.nav-links {
    color: black;
    padding-bottom: 3px;
    margin-left: 10px;
}

.nav-links:hover {
    border-bottom: 2px solid hsl(286deg 97% 13%);
}

.name-logo, .nav-mid, .nav-right {
    color: black;
    padding-top: 6px;
    padding-left: 10px;
    font-weight: bold;
    padding-right: 50px;
}

.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;

}

.project-page-summary {
    width: 650px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 110px;
    margin-bottom: 100px;
}

#emphasis-link {
    color: black;
    font-weight: bold;
    border-bottom: 3px solid hsl(286deg 97% 13%);
}

#emphasis-link:hover {
    color: grey;
}


.my-work-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    flex-wrap: wrap;
}

#resume-box {
    width: 100%;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 75px;
    margin-bottom: 50px;

}

.resume-links {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    font-weight: bold;
    color: black;
    background-color: whitesmoke;
    padding: 5px;
    margin-left: 25px;
    margin-right: 25px;
    border: 2px solid black;
    box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.234);

}

.resume-links:hover {
    box-shadow: 0px 8px 15px 0px hsl(286deg 97% 13%);
    border: none;
    color: whitesmoke;
    background-color: hsl(286deg 97% 13%);

}

#resume-download {

}

.project-boxes {
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: whitesmoke;
    width: 700px;
    flex-direction: column;
    box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.234);
    margin-bottom: 25px;
    margin-left: 13px;
    margin-right: 13px;

}

h2 {
    padding-bottom: 10px;
}

.project-description {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 10px;
    padding-right: 30px;
    padding-left: 30px;

}

.image-code {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    margin-top: 15px;
    
}

.portfolio-link {
    position: absolute;
    color: whitesmoke;
    top: 85%;
    font-size: 15px;
}

.img-button {
    overflow: hidden;
    height: 250px;
    width: 245px;
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
    border: none;
    outline: none;
    transition: .1s;
}

.img-button:hover {
    box-shadow: 0px 8px 15px 0px hsl(286deg 97% 13%);
    cursor: pointer;
}

.project-image {
    border-radius: 10px;
    height: 250px;
}

#code-span {
    transition: .2s;

}

#url-span {
    transition: .2s;

}

#code-span:hover {
    color: black;
}

#url-span:hover {
    color: black;
}

footer {
    line-height: 1.5;
    position: sticky;
    bottom: 0;
    left: 0;
    background-color: #18181a;
    padding: 70px 0;

}

.footer-container {
    max-width: 1170px;
    margin: auto;

}

.footer-row {
    display: flex;
    flex-wrap: wrap;
}

.footer-column {
    width: 25%;
    padding: 0 15px;
}

.footer-column h4 {
    font-family: 'Poppins';
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 20px;
    font-weight: 500px;
    position: relative;
}

.footer-column h4::before {
    content: '';
    position: absolute;
    margin-top: 30px;
    height: 2px;
    background-color: #3f244f;
    width: 50px;
}

.footer-column ul li:not(last-child) {
    margin-bottom: 10px;

}

.footer-column ul li a {
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all .3s ease;
}

.footer-column ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

.footer-column .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, .2);
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    margin: 0 10px 10xp 0;
    transition: all .3s ease;
    color: #ffffff;
    flex-wrap: wrap;
}

.footer-column .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}

@media (max-width: 767px) {
    .name-logo{
        font-size: 15px;
    }

    .nav-right {
        font-size: 15px;
    }

    h1 {
        font-size: 32px;
        padding-bottom: 5%;
        margin-top: 54px;

    }

    .project-page-summary {
        font-size: 25px;
    }

    .project-boxes {
        width: 95%;
    }


    .footer-column {
        width: 50%;
        margin-bottom: 30px;
    }

}
@media (max-width: 574px) {
    .scrollable-modal {
        width: 350px;
    }

    .resume-links {
        font-size: 12px;

    }

    .name-logo{
        font-size: 10px;
    }

    .nav-right {
        font-size: 10px;
    }

    .img-button {
        width: 150px;
        height: 175px;
    }

    .project-page-summary {
        width: 289px;
        font-size: 15px;
    }

    .footer-column {
        width: 100%;

    }
}

/* Modals */

.modal-container {
    opacity: 0;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    background-color: rgba(0, 0, 0, .4);
    height: 100vh;
    width: 100vw;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

}



.modal-container.show {
    pointer-events: auto;
    opacity: 1;

}

.scrollable-modal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    background-color: whitesmoke;
    padding-bottom: 50px;
    width: 475px;
    height: 75vh;
    box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 0.768);
    overflow-y: scroll;
    overflow-x: visible;

}

.modal-close-button {
    top: 0;
    right: 0;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: transparent;

}
